#listings {
  width: 100%;
  padding: 30px 40px;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

.listing-header {
  display: flex;
  justify-content: space-between;
  input[type="text"] {
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 60%;
    font-size: 25px;
    &:focus {
      outline: none;
    }
  }
  .icons {
    align-self: center;
    .fas {
      padding: 5px;
      font-size: 25px;
    }
  }
}

.list-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 20px;
}

.list-items-active {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-top: 20px;
}

.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  .image {
    width: 100%;
  }
  .about {
    padding: 5px;
    .location {
      display: inline-block;
      width: 80%;
    }
    .favorite {
      display: inline-block;
      width: 20%;
      text-align: right;
    }
    .fas {
      padding: 5px;
    }
    .far {
      padding: 5px;
    }
    span {
      text-transform: capitalize;
    }
  }
}

@media (max-width: 1400px) {
  .list-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .list-items-active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 20px;
  }
}

@media (max-width: 1000px) {
  .list-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .list-items {
    grid-template-columns: 1fr;
  }
}
